.Cart_Container{
    position:fixed;
    right:5em;
    bottom:5em;
}

.Cart_cartIcon{
    width:5em;
    height:5em;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
    z-index:1;
}

.Cart_cartIcon:hover{
    box-shadow: 0 0 20px 5px rgba(110, 195, 196,  0.5);
}

.Cart_Container::after{
    content:"Panier !";
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0%)scale(0);
    font-size: 1.3em;
    font-weight: 800;
    color:#6EC3C4;
    width:5em;
    text-align: center;
    transition: 0.5s;
    z-index:2;
}

.Cart_Container:hover::after{
    transform: translate(-50%, -150%)scale(1);
}

.Cart_cartLength{
    position: absolute;
    right:0;
    top:0;
    transform: translate(25%,-25%);
    height:2em;
    width:2em;
    background-color: #FF8970;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 800;
    z-index:3;
}

.Cart_cartBackground{
    position:fixed;
    height:100vh;
    width:100vw;
    background-color: rgba(255, 255, 255, 0.9);
    top:0;
    left:0;
    backdrop-filter: blur(2px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cart_closeZone{
    position: fixed;
    height:100vh;
    width:100vw;
    background:transparent
}

.Cart_cartContent{
    width:100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: -5px -5px 30px 3px rgba(0,0,0,0.2);
    max-width:650px;
    height:90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding:1em;
    box-sizing: border-box;
}

.Cart_cartContent::-webkit-scrollbar{
    display:none;
}

.Cart_productsTitle{
    font-size: 1.5em;
    color:#6EC3C4;
    padding:1em;
    font-weight: 1000;
    text-align: center;
}

.Cart_closeButton{
    position:absolute;
    top:0;
    right:0;
    height:3em;
    width:3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    cursor: pointer;
    z-index: 5;
}

.Cart_illustration{
    height:40%;
}

.Cart_empty{
    content:"Votre panier est vide...";
    font-size: 2em;
    color:#6EC3C4;
    font-weight: 800;
    margin-top: 2em;
}

.Cart_productsContainer{
    position: absolute;
    top:0;
    left:0;
    z-index:3;
    padding:2em 0
}

.Cart_product{
    height:auto;
    padding:1em;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin:1em 0;
    flex:1;
}

.Cart_productThumbnail{
    height:100%;
}

.Cart_productTitle{
    font-size: 1.2em;
    color:rgb(41, 41, 41);
    padding-right: 1em;
}

.Cart_productButton{
    background-color: #6EC3C4;
    color:white;
    font-size: 1em;
    font-weight: 800;
    padding:1em;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

@media(max-width:800px) {
    .Cart_Container{
        right:2em;
        bottom:2em;
    }
    .Cart_cartIcon{
        width:3.5em;
        height:3.5em;
    }
    .Cart_cartLength{
        transform: translate(25%,-25%);
        height:1.8em;
        width:1.8em;
        font-size: 0.8em;
    }
}

@media(max-width:650px) {
    .Cart_cartContent {
        width: 100vh;
        height:100vh;
    }
}

@media(max-width:500px) {
    .Cart_productTitle{
        font-size: 1em;
    }
    .Cart_productButton{
        font-size: 0.8em;
        font-weight: 700;
    }
}