.ProductList_ProductsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:3em 0;
}

.ProductList_Product{
    width:calc(33.333% - 2em);
    color:white;
    background-color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
}



.ProductList_ProductThumbnail{
    height:200px;
    width:200px
}

.ProductList_ProductTitle{
    font-weight: 800;
    color:#FF8970;
    text-align: center;
    font-size: 1.6em;
    flex-grow: 1;
    padding:0 1em
}

.ProductList_ProductButton{
    background-color: #FF8970;
    padding:1.3em 3em;
    color:white;
    font-weight: 1000;
    font-size: 1em;
    border-radius: 0.3em;
    border:none;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.ProductList_ProductButton:hover{
    background-color: rgb(202, 98, 77);
    
}

.ProductList_ProductButton:focus{
    outline-width: 0;
    
}

.ProductList_PageNavContainer{
    display:flex;
    padding:3em 0;
    justify-content: center;
    align-items: center;
}

.ProductList_NavText{
    font-weight: 700;
    font-size: 1em;
    color:#FF8970;
    text-align: center;
}

.ProductList_NavButton{
    border-radius: 3px;
    height:3em;
    width:3em;
    color:white;
    background-color: #FF8970;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin:0 1em 0 1em;
    transition: 0.5s;
    font-weight: 900;
}

.ProductList_NavButton:disabled{
    background-color: rgb(248, 167, 151);
}

.ProductList_NavButton:hover:disabled{
    background-color: rgb(248, 167, 151);
}

.ProductList_NavButton:hover{
   
    background-color: rgb(235, 101, 75);
}

@media(min-width:1000px) {
    .ProductList_Product:nth-child(3n+1){
        margin-left: 1em;
    }
    
    .ProductList_Product:nth-child(3n+2){
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .ProductList_Product:nth-child(3n+3){
        margin-right: 1em;
    }
}

@media(max-width:1000px) {
    .ProductList_Product{
        width:calc(50% - 2em);
    }
    .ProductList_ProductTitle{
        font-weight: 700;
        font-size: 1.2em;
    }

    .ProductList_ProductButton{
        padding:1em 2em;
        font-weight: 800;
    }
    .ProductList_Product:nth-child(2n+1){
        margin-right: 1em;
    }
    
    .ProductList_Product:nth-child(2n+2){
        margin-left: 1em;
    }
}




@media(max-width:450px) {
    .ProductList_Product{
        width:calc(100% - 2em);
        margin:1em;
        padding-bottom: 2em;
    }
    .ProductList_ProductTitle{
        font-weight: 700;
        font-size: 1.2em;
    }

    .ProductList_ProductButton{
        padding:1em 2em;
        font-weight: 800;
    }
    .ProductList_ProductsContainer{
        margin:1em 0;
    }
    .ProductList_PageNavContainer{
        padding:2em 0 8em 0;
    }
}